<%- include partials/header.ejs %>
<% house = house[0] %>
<section>
  <header class='jumbotron'>
    <h1><%= house.name %></h1>
    <p><%= house.description %></p>
    <img src='<%= house.thumbnail.url %>'>
  </header>
  <button id='removePropertyBtn' data-id='<%= house._id %>' class='btn btn-danger'>Remove Property</button>
</section>

<%- include partials/footer.ejs %>