<%- include partials/header.ejs %>
  <section class='container-fluid'>
    <header class='jumbotron'>
      <h1 class='text-center'>Update Your House</h1>
    </header>
  </section>

  <section class='container new-house-form'>
    <form action='/houses/<%= house._id %>?_method=PUT' method="POST" enctype="multipart/form-data">
      <div class='form-group'>
        <label for='name'>Property Name</label>
        <input type='text' class='form-control' id='name' name='name' value='<%= house.name %>'>
      </div>
      <div class='form-group'>
        <label for='description'>Property Decription</label>
        <textarea type='text' class='form-control' id='description' name='description'><%= house.description %></textarea>
      </div>
      <div class='form-group'>
        <img class='img-fluid img-thumbnail thumbnail--preview' src='<%= house.thumbnail.url %>'>
        <label class='thumbnail__label' for='thumbnail'>Upload a new image to replace current thumbnail.</label>
        <input type='file' class='form-control-file' id='thumbnail' name='thumbnail'>
      </div>
      <div class='form-group'> 
        <label for='gallery'>Image Gallery</label>
        <input type='file' class='form-control-file' id='gallery' name='gallery' aria-describedby='galleryHelp' multiple>
        <small id='galleryHelp' class='form-text text-muted'>Upload further images to showcase your property.</small>
      </div> 

       <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="kitchen" name='features' value='Kitchen'
          <%= house.features.includes('Kitchen') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="kitchen">Kitchen</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ac" name='features' value='A/C'
          <%= house.features.includes('A/C') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="ac">A/C</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fan" name='features' value='Fan'
          <%= house.features.includes('Fan') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="fan">Fan</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WiFi" name='features' value='WiFi'
          <%= house.features.includes('WiFi') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="WiFi">Wifi</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="billsincluded" name='features' value='Bills Included'
          <%= house.features.includes('Bills Included') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="billsincluded">Bills Included</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cleaning" name='features' value='Cleaning Included'
          <%= house.features.includes('Cleaning Included') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="cleaning">Cleaning Included</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="livingroom" name='features' value='Living Room'
          <%= house.features.includes('Living Room') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="livingroom">Living Room</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="parking" name='features' value='Undercover Parking'
          <%= house.features.includes('Undercover Parking') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="parking">Undercover Parking</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fridge" name='features' value='Fridge'
          <%= house.features.includes('Fridge') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="fridge">Fridge</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="oven" name='features' value='Oven'
          <%= house.features.includes('Oven') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="oven">Oven</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="hotwater" name='features' value='Hot Water'
          <%= house.features.includes('Hot Water') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="hotwater">Hot Water</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="teacoffee" name='features' value='Tea/Coffee'
          <%= house.features.includes('Tea/Coffee') ? 'checked' : '' %>
        >
        <label class="form-check-label" for="teacoffee">Tea/Coffee</label>
      </div>
      
      <button type="submit" class="btn btn-primary btn--block">Submit</button>
    </form>
  </section>

  <%# image - https://stackoverflow.com/questions/15772394/how-to-upload-display-and-save-images-using-node-js-and-express %>

<%- include partials/footer.ejs %>