<%- include partials/header.ejs %>
  <section class='container-fluid'>
    <header class='jumbotron'>
      <h1 class='text-center'>Update Your House</h1>
    </header>
  </section>

  <section class='container new-house-form'>
    <form action='/houses/<%= house._id %>?_method=PUT' method="POST" enctype="multipart/form-data">
      <div class='form-group'>
        <label for='name'>Property Name</label>
        <input type='text' class='form-control' id='name' name='name' value='<%= house.name %>'>
      </div>
      <div class='form-group'>
        <label for='description'>Property Decription</label>
        <textarea type='text' class='form-control' id='description' name='description'><%= house.description %></textarea>
      </div>
      <div class='form-group'>
        <img class='img-fluid img-thumbnail thumbnail--preview' src='<%= house.thumbnail.url %>'>
        <label class='thumbnail__label' for='thumbnail'>Upload a new image to replace current thumbnail.</label>
        <input type='file' class='form-control-file' id='thumbnail' name='thumbnail'>
      </div>
      <div class='form-group'> 
        <label for='gallery'>Image Gallery</label>
        <input type='file' class='form-control-file' id='gallery' name='gallery' aria-describedby='galleryHelp' multiple>
        <small id='galleryHelp' class='form-text text-muted'>Upload further images to showcase your property.</small>
      </div> 
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>

  <%# image - https://stackoverflow.com/questions/15772394/how-to-upload-display-and-save-images-using-node-js-and-express %>

<%- include partials/footer.ejs %>