<%- include partials/header.ejs %>

<section>
  <header class='jumbotron'>
    <h1 class='text-center'><%= house.name %></h1>
       <p class='text-center'><%= house.bedrooms %> Bedroom | <%= house.bathrooms %> Bathroom</p>

    <img class='img-fluid img-thumbnail img__thumbnail' src='<%= house.thumbnail.url %>'>

    <% if (userHouse) { %>
        <div class='text-center'>
          <a href='/houses/<%= house._id %>/edit' id='updatePropertyBtn' data-id='<%= house._id %>' class='btn btn-primary'>Update Property</a>
          <button id='removePropertyBtn' data-id='<%= house._id %>' class='btn btn-danger'>Remove Property</button>
        </div>
    <% } %>
 
  </header>
</section>

<section class='container'>
      <% if (house.features) { %>
      <div class='mb-3'>
        <% house.features.forEach(feature => { %>
          <btn class='btn btn-outline-secondary mb-1'><%= feature %></btn>
        <% }) %>
      </div>
   <% } %>
    <p><%= house.description %></p>
</section>

<section class='container gallery'>
  <% for (let key in house.gallery) { %>
    <div class='gallery__item'>
      <img class='img-fluid img-thumbnail thumbnail--preview gallery__thumbnail' data-id='<%= key %>' src='<%= house.gallery[key] %>'>
      <% if(currentUser.id === String(house.user)) { %>
        <span class='gallery__delete' data-id='<%= key %>' data-house='<%= house._id %>'>&times;</span>
      <% } %>
    </div>
  <% } %>
</section>

<section class='container bg-light p-3 rounded'>

  <% if (currentUser) { %>
      <h2>Contact Property</h2>
      <form action="/houses/<%= house.id %>/enquire" method='POST'>
        <div class="form-group">
          <label for="enquire-text">Include a message</label>
          <textarea class="form-control" id="enquire-text" rows="3" name='message' placeholder="Hi, I'm looking for a property for 2 months between December and January. I'd love to come and look at yours in person. Would tomorrow suit? You can call me on xxxx-xxx-xxx. Thanks."></textarea>
        </div>
        <button class='btn btn-primary'>Enquire</button>
      </form>
  <% } else { %>
    <h2 class='mb-3'>You need to be logged in to contact property.</h2>
    <a href="/user/login" class='btn btn-primary'>Login</a>
    <a href="/user/register" class='btn btn-secondary'>Register</a>
  <% } %>
</section>

<section id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= house.name %> Gallery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <%
              let i = 0;
              for (let key in house.gallery) {
            %>
            <li data-target="#carousel" data-slide-to="<%= i %>" data-id='<%= key %>' class='carousel-indicator'></li>
            <%
              i++; }
            %>
          </ol>
          <div class="carousel-inner">
            <% for (let key in house.gallery) { %>
              <div class="carousel-item" data-id='<%= key %>'>
                <img class="d-block w-100" src="<%= house.gallery[key] %>" alt="Property Image" >
              </div>
            <% } %>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</section>

<%- include partials/footer.ejs %>