<%- include partials/header.ejs %>
<% house = house[0] %>
<section>
  <header class='jumbotron'>
    <h1><%= house.name %></h1>
    <p><%= house.description %></p>
    <img src='<%= house.thumbnail %>'>
  </header>
</section

<%- include partials/footer.ejs %>